:root {
  --color-primary: 235, 209, 157;
  --color-secondary: 63, 151, 175;
  --color-ivory: 249, 248, 245;
  --color-white: 255, 255, 255;
  --color-black: 28, 25, 23;

  font-size: 16px;
  line-height: 1.5;
}

.section {
  display: flex;
  flex-wrap: wrap;
}
.section h3 {
  width: 100%;
}
.section article {
  flex: 1;
}
